.navBar {
    list-style-type: none;
    text-align: center;
    background-image: url();
    border-style: solid;
    border-width: 5px;
    border-color: rgb(223, 216, 122);
    border-radius: 80px 80px;
}

.navBar li {
    display: inline-block;
    padding: 20px;
}

.navBar li:hover {
    
    background-color: rgb(255, 255, 255,0);
}

.navBar li a {
    color: rgb(102, 18, 18);
    text-align: left;
    text-decoration: none;
}

ul li {

    background-size: 100px;

    background-repeat: no-repeat;

    background-position: 0px 5px;

    padding-left: 14px;

}

